@import "tailwindcss";

@layer base {
  body {
    background-color: #f4f0ea;
    background-image: radial-gradient(#d1cdb7 1px, transparent 1px);
    background-size: 20px 20px;
    color: #111827;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-left: 2px solid #111827;
}

::-webkit-scrollbar-thumb {
  background: #111827;
  border-radius: 0;
}